/* template */
.txtCenter {
  text-align: center;
}

.greenBtn {
  text-align: center;
  background-color: white;
  color: green;
  border: solid green 3px;
  width: 250px;
  border-radius: 30px;

}

.sectionCenter {
  width: 80%;
  margin: 0 10%;
}

a {
  color: inherit;
  text-decoration: none;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

/* #global-styles-inline-css */
body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
  --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
  --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
  --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
  --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
  --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
  --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
  --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
  --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
  --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
  --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
  --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
  --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
  --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
  --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
}

:where(.is-layout-flex) {
  gap: 0.5em;
}

body .is-layout-flow>.alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}

body .is-layout-flow>.alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}

body .is-layout-flow>.aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

body .is-layout-constrained>.alignleft {
  float: left;
  margin-inline-start: 0;
  margin-inline-end: 2em;
}

body .is-layout-constrained>.alignright {
  float: right;
  margin-inline-start: 2em;
  margin-inline-end: 0;
}

body .is-layout-constrained>.aligncenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
}

body .is-layout-constrained>.alignwide {
  max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
  display: flex;
}

body .is-layout-flex {
  flex-wrap: wrap;
  align-items: center;
}

body .is-layout-flex>* {
  margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}

.has-black-color {
  color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
  color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
  color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
  color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
  color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
  color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
  color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
  color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
  color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
  color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
  color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
  color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
  background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
  background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
  background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
  background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
  background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
  background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
  background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
  background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
  background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
  background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
  background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
  border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
  border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
  border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
  border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
  border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
  border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
  border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
  border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
  border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
  border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
  border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
  background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
  background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
  background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
  background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
  background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
  background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
  background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
  background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
  background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
  background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
  background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
  font-size: var(--wp--preset--font-size--x-large) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
  color: inherit;
}

:where(.wp-block-columns.is-layout-flex) {
  gap: 2em;
}

.wp-block-pullquote {
  font-size: 1.5em;
  line-height: 1.6;
}

/* #weefly-stylesheet-inline-css */

.inner-page-banner {
  padding: 125px 0 !important;
}

/*------ Content Size -------*/
.woocommerce-product-gallery {
  opacity: 1 !important;
}

/* #yith-wcwl-main-inline-css */
.yith-wcwl-share li a {
  color: #FFFFFF;
}

.yith-wcwl-share li a:hover {
  color: #FFFFFF;
}

.yith-wcwl-share a.facebook {
  background: #39599E;
  background-color: #39599E;
}

.yith-wcwl-share a.facebook:hover {
  background: #595A5A;
  background-color: #595A5A;
}

.yith-wcwl-share a.twitter {
  background: #45AFE2;
  background-color: #45AFE2;
}

.yith-wcwl-share a.twitter:hover {
  background: #595A5A;
  background-color: #595A5A;
}

.yith-wcwl-share a.pinterest {
  background: #AB2E31;
  background-color: #AB2E31;
}

.yith-wcwl-share a.pinterest:hover {
  background: #595A5A;
  background-color: #595A5A;
}

.yith-wcwl-share a.email {
  background: #FBB102;
  background-color: #FBB102;
}

.yith-wcwl-share a.email:hover {
  background: #595A5A;
  background-color: #595A5A;
}

/* #woocommerce-inline-inline-css */
.woocommerce form .form-row .required {
  visibility: visible;
}

/* #yith-quick-view-inline-css */
#yith-quick-view-modal .yith-wcqv-main {
  background: #ffffff;
}

#yith-quick-view-close {
  color: #cdcdcd;
}

#yith-quick-view-close:hover {
  color: #ff0000;
}


/* #weefly_option-dynamic-css title="dynamic-css" class="redux-options-output" */
#inner_header {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../public/wp-content/uploads/2022/01/subheader-bg.png');
  background-size: cover;
}

/* data-type="vc_shortcodes-custom-css" */
.vc_custom_1641396702929 {
  background-color: #f5f8f2 !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1576234450737 {
  padding-bottom: 0px !important;
}

.vc_custom_1639461623189 {
  background-image: url('../../public/wp-content/uploads/2021/12/ww-weefly-video-banner-scaled-10945.jpg?id=1795') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1639462258372 {
  background-image: url(https://slidesigma.com/themes/wp/weefly/wp-content/uploads/2021/12/ww-weefly-cta-banner.png?id=1799) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1641397517068 {
  padding-bottom: 0px !important;
}

.vc_custom_1641488540190 {
  padding-top: 0px !important;
}

.vc_custom_1601027813960 {
  margin-bottom: 0px !important;
  padding-top: 60px !important;
  padding-bottom: 0px !important;
  background-color: #f5f8f2 !important;
}

.vc_custom_1641317696669 {
  margin-bottom: 0px !important;
}

.vc_custom_1580297627666 {
  padding-bottom: 0px !important;
}

.vc_custom_1580296943324 {
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.vc_custom_1580299956089 {
  padding-bottom: 30px !important;
}

.vc_custom_1578545547251 {
  padding-bottom: 30px !important;
}

.vc_custom_1576221992965 {
  padding-bottom: 30px !important;
}

.vc_custom_1573827939129 {
  margin-top: 20px !important;
}

.vc_custom_1576222005141 {
  padding-bottom: 30px !important;
}

.vc_custom_1576222015797 {
  padding-bottom: 30px !important;
}

.wpb_animate_when_almost_visible {
  opacity: 1;
}


/* #rs-plugin-settings-inline-css */

#rev_slider_15_1_wrapper .hermes .tp-bullet {
  overflow: hidden;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px #ffffff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: absolute
}

#rev_slider_15_1_wrapper .hermes .tp-bullet.rs-touchhover {
  background-color: rgba(0, 0, 0, 0.21)
}

#rev_slider_15_1_wrapper .hermes .tp-bullet:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 1px #ffffff;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease
}

#rev_slider_15_1_wrapper .hermes .tp-bullet.selected:after {
  height: 100%
}

#rev_slider_15_1[data-slideactive="rs-32"] .hermes .tp-bullet {
  width: 16px !important;
  height: 16px !important
}

#rev_slider_15_1[data-slideactive="rs-33"] .hermes .tp-bullet {
  width: 16px !important;
  height: 16px !important
}

#link-register {
  border: solid;
  border-radius: 20px;
  border-color: #dd9933;
  padding: 7px;
}

#link-register:hover {
  background-color: #dd9933;
  color: white;
}

#invalid-email:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid #b22222;
  border-radius: 5px;
}

#btn-disable-login :disabled {
  background-color: #595A5A !important;
}

.button {
  background-color: #dd9933;
  margin: 20px 20px 20px 0;
}

.button:hover {
  background-color: #eeaf50;
}

.ck.ck-editor__main>.ck-editor__editable {
  min-height: 200px;
}

.dictaphone {
  background-color: #dd9933;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  order: 10000;
  cursor: pointer;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}

.open-chat {
  background-color: #dd9933;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  order: 10000;
  cursor: pointer;
  bottom: 20%;
  right: 5%;
  z-index: 1;
}

.transcript {
  position: fixed;
  bottom: 0;
  right: 20%;
  z-index: 100000;
  width: 70%;
  background-color: rgb(228, 228, 228);
}

#prompt-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  min-height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(163, 163, 163);
  overflow: auto;
}

#prompt-input:focus {
  outline: none !important;
}

.response-container {
  margin-bottom: 10px;
  color: white;
  padding: 15px 200px;
  font-size: 1rem;
  display: flex;
}

.response-container .avatar-image {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.response-container .response-content {
  display: flex;
  flex-direction: column;
}

.response-container pre {
  max-width: 100%;
  margin: 0 !important;
  white-space: break-spaces;
}

.response-container .prompt-content {
  background: transparent !important;
  color: rgb(101, 101, 101);
  padding: 0 !important;
  margin-top: 5px;
}

.response-container .prompt-content p:first-child {
  margin-top: 0;
}

.ai-image {
  width: 500px;
  height: auto;
}

.error-response {
  color: rgb(220, 0, 0) !important;
}

/* Override hljs to match for chatgpt */
.hljs {
  background: rgb(0, 0, 0) !important;
  color: white !important;
  display: block;
  padding: 10px;
  border-radius: 6px;
}

.hljs-section,
.hljs-title {
  color: #f22c3d !important;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: #df3079 !important;
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color: #e9950c !important;
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: white !important;
}



.App {
  display: flex;
  flex-direction: column;
}

/* Add background color to the body */
.body {
  /* background-color: rgba(68, 70, 84, 1.0); */
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.chatgpt-modal {
  /* background-color: rgba(68, 70, 84, 1.0); */
  background-color: rgb(255, 255, 255);

}

/* Remove border color from the response list container */
#response-list {
  border: none;
  overflow-y: auto;
  flex: 1;
}

.chatgpt-response {
  /* background-color: rgba(68, 70, 84, 1); */
  background-color: rgba(247, 247, 248);
  border-radius: 5px;
}

.my-question {
  /* background-color: rgba(52, 53, 65, 1); */
  background-color: rgb(255, 255, 255);
  border-radius: 5px;

}

/* Change background color of the input container */
#input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(163, 163, 163);
  ;
  border-radius: 5px;
  margin: 10px 200px;
}


/* Remove background color and add an SVG background for the submit button */
#submit-button {
  background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='white' d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z'/></svg>") no-repeat center center;
  color: rgb(163, 163, 163);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#regenerate-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#regenerate-response-button {
  color: rgb(67, 67, 67);
  border: none;
  background: #10A37F;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.loading {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#model-select-container {
  margin: 10px 200px;
  color: rgb(118, 118, 118);
}

#model-select-container select {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(77, 67, 67);
}

#model-select-container select option:not(:checked) {
  background: rgba(75, 75, 75, 0.8);
  color: white;
}

#model-select-container select option {
  background: rgba(32, 33, 35, .5);
}

/* .article-form-container {
  width: min-content;
} */
.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.text-image {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.text-image>h1 {
  color: #016837;
  font-size: 70px;
  text-shadow: 1px 1px 2px #016837, 0 0 1em #d93, 0 0 0.2em #d93;
}

.text-image>h5 {
  color: #d93;
  font-size: 30px;
}

.page-number-clicked:active {
  border: #016837 solid 2px;
  background: #016837;
}

#footer-sport {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../public/SportSubTypePage.png);
  background-size: cover;
}

#form-sport {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../public/sportForm.jpg);
  background-size: cover;
}

.article-image {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.article-container {
  display: flex;
  flex-direction: row;
  top: 20px;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .article-container {
    flex-direction: column;
  }
}

.notification-option {
  width: 200px;
  position: fixed;
  min-height: fit-content;
  max-height: 500px;
  /* left: 0, !important; */
  /* right:-70% !important; */
  margin-right: 200px !important;
  top: 25px !important;
  z-index: 1000 !important;
  color: #000000;
  overflow: auto !important;
  overflow-y: scroll;
}

.new-notif {
  animation: clocking-bell 1s ease-in-out infinite;
}

@keyframes clocking-bell {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}